<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
}

.container {
  border: 2px solid #dedede;
  background-color: #121111;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}
</style>
</head>
{{> userNav}}
<body>

<h2>BirthDay notification</h2>
{{#if data}}
<div class="container">
  <p style="color: white;">{{bday.msg}}</p>
   <p style="color: white;">Happy Birthday to <b><i>{{bday.mail}}</i></b></p>
  <span class="time-right">{{bday.mail}}</span>
</div>

{{/if}}
</body>
</html>
